<!DOCTYPE html>
<html>
<head>
    <title>Send Attendance Email</title>
</head>
<body>
    <h2>Send Attendance Report</h2>
    <form method="POST">
        <label for="sender_email">Sender Email:</label><br>
        <input type="email" name="sender_email" required><br><br>

        <label for="sender_pass">Sender Password (App Password for Gmail):</label><br>
        <input type="password" name="sender_pass" required><br><br>

        <label for="receiver_email">Receiver Email:</label><br>
        <input type="email" name="receiver_email" required><br><br>

        <button type="submit">Send Attendance Report</button>
    </form>
</body>
</html>
